---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import '../styles/aboutcard.css';
import { Icon } from "astro-icon/components";


---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <section class="content-section">
      <h1 class=" text-2xl md:text-4xl">Gatovsky© </h1>
      <div class="content">
        <p> is a dedicated student pursuing a degree in Systems Engineering. Python is his favorite language and which he masters best, he performs optimally in the use of technologies such as Docker, Pulumi SDK, Bash and K8S integrated with AWS cloud services. Currently, he's actively contributing to a project named Archie where leverage his skills in infrastructure as code.</p><a href="">Learn more</a>
      </div>
      <div class="img">
        <img src="/images/gatovsky.jpeg" />
        <a
          class="bg-black text-white no-underline py-1 px-1.5 text-xs font-bold leading-snug inline-block rounded"
          href="https://www.instagram.com/inge.gatovsky/"
          target="_blank"
          rel="noopener noreferrer"
          title="Inge Gatovsky"
        >
          <span class="inline-flex content-center items-center py-0.5 px-0.75">
            <Icon class="font-mplus text-white h-5 w-5 " name="bx:bxl-instagram" />
            Inge Gatovsky©
          </span>
        </a>
      </div>
      
    </section>
  </Container>
</Layout>
