---

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import cv from "@cv";
import ExperienceCard from "@components/experiencecard.astro";
import EducationCard from "@components/educationcard.astro";
import AwardsCard from "@components/awardscard.astro";
import GridCourse from '@components/gridcourse.astro'
const { basics } = cv;
const { experience } = basics;
const { education } = basics;
const { awards } = basics;
const { courses } = basics;

---

<Layout title="Experience">
 <Container>
  <section
  class="w-full flex flex-col gap-10  content-center items-center justify-center px-4 py-20 sm:py-24 overflow-hidden"
>
  <div
    class="cv-section w-full max-w-2xl flex flex-col justify-center items-start sm:items-center gap-3"
  >
    <h2
      class="text-4xl sm:text-lg md:text-2xl tracking-tighter"
    >
      Experience
    </h2>
    <p
      class="text-muted-foreground sm:text-center text-sm sm:text-normal md:text-lg font-light tracking-tighter"
    >
      Here are some of the places I've worked at.
    </p>
  </div>
  <div class="cv-section flex flex-col pointer-events-auto">
    {experience.map((exp) => <ExperienceCard {...exp} />)}
  </div>
  <div
    class="cv-section w-full max-w-2xl flex flex-col justify-center items-start sm:items-center gap-3"
  >
    <h2
      class="text-4xl sm:text-lg md:text-2xl tracking-tighter"
    >
      Education
    </h2>
  </div>
  <div class="cv-section flex flex-col pointer-events-auto">
    {education.map((edu) => <EducationCard {...edu} />)}
  </div>
  <div
    class="cv-section w-full max-w-2xl flex flex-col justify-center items-start sm:items-center gap-3"
  >
    <h2
      class="text-4xl sm:text-lg md:text-2xl tracking-tighter"
    >
      Awards
    </h2>
  </div>
  <div class="cv-section flex flex-col pointer-events-auto">
    {awards.map((awd) => <AwardsCard {...awd} />)}
  </div>
  <div
    class="cv-section  w-full max-w-2xl flex flex-col justify-center items-start sm:items-center gap-3"
  >
    <h2
      class="text-4xl sm:text-lg md:text-2xl tracking-tighter"
    >
    Training & Certifications
    </h2>
  </div>
  <div class="cv-section w-full grid grid-cols-2 md:w-max lg:grid-cols-3 gap-6">
    {courses.map((course) => (
      <GridCourse {...course} />
    ))}
  </div>
  <div class="mt-6 flex flex-col sm:flex-row gap-3">
    <Link
      href="mailto:&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#104;&#104;&#97;&#114;&#105;&#101;&#116;&#97;&#46;&#108;&#97;&#116;"
      target="_blank"
      class="flex gap-1 items-center justify-center"
      rel="noopener">
      <Icon class="font-mplus text-white w-5 h-5" name="bx:bx-at" />
       Contact Me
    </Link>
    <Link
      size="lg"
      style="outline"
      rel="noopener"
      href="https://github.com/hharieta"
      class="flex gap-1 items-center justify-center"
      target="_blank">
      <Icon class="font-mplus text-black w-4 h-4" name="bx:bxl-github" />
      GitHub Repo
    </Link>
  </div>
  <script src="../scripts/observer.js"></script>
</section>
</Container>
<style>
  .cv-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cv-section.visible {
  opacity: 1;
  transform: translateY(0);
}
</style>
</Layout>