---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PortfolioCard from "@components/portfoliocard.astro";

import cv from "@cv"
const {projects} = cv;
---
<Layout title="Portfolio">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Gatovsky's Projects</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <section class="w-full flex flex-col content-center items-center mt-16">
      <div class="w-full max-w-2xl flex flex-col items-start gap-3f">
        {
          projects.map((project) => (
            <PortfolioCard {...project} />
          ))
        }
      </div>
    </section>
  </Container>
</Layout>
