---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
// import { getImage } from "astro:assets";
// import logoPath from "../../assets/gatovsky.svg";

// const logo = await getImage({ src: logoPath, format: "image/svg+xml" });

const menuitems = [
  {
    title: "Gatovsky",
    path: "#",
    children: [
      { title: "Projects", path: "https://www.hharieta.lat/works", target: "_blank" },
      { title: "Curriculum Vitae", path: "/experience", target: "_self"},
      { title: "Hobby", path: "/404", target: "_self"},
      { title: "Social media", path: "/404", target: "_parent" },
    ],
    badge: "New"
  },
  {
    title: "About",
    path: "/about",
    target: "_self"
  },
  {
    title: "CV",
    path: "/experience",
    target: "_self"
  },
  {
    title: "Blog",
    path: "/blog",
    target: "_self"
  },
  {
    title: "Contact",
    path: "/contact",
    target: "_self"
  }
];
---

<Container>
  <header class="flex-col text-xl md:flex md:w-full lg:flex-row content-start justify-between place-content-start items-start my-5">
    <Astronav>
      <div class="flex w-full lg:w-fit justify-between">
        <a href="/">
          <img
          src="/images/gatovsky.svg"
          alt="Inge Gatovsky"
          class="w-14 h-14 lg:w-16 lg:h-16"
        />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-10 h-10 text-gray-800" />
        </div>
      </div>
      <MenuItems class="text-md md:text-xl hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      target={item.target ? item.target : "_self"}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div>
    </div>
  </header>
</Container>
