

<section class="my-5">
  <div class="flex flex-col mt-1 md:mt-0">
    <h2 class="text-4xl md:text-xl lg:text-5xl font-bold lg:tracking-tight">
      Inge Gatovsky
    </h2>
    <h3 class="italic text-2xl text-zinc-900 md:text-xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      "the best breaking production"
    </h3>
    <p class="text-xl mt-4 text-slate-600">
      Do you want to know more about me?
      I´m a Cloud Engineer with a passion for data engineering & ML.
      Also, I write cheap love poems 🩷
    </p>
  </div>

</section>
<section class="container1 w-full h-full">
  <article class="container-cards justify-center w-max h-max">
      <div class="cards1">
          <div class="cards-item">
              <img src="/images/c1.webp" loading="lazy" alt="talenland24">
          </div>
          <div class="cards-item">
              <img src="/images/c2.webp" loading="lazy" alt="itcancun">
          </div>
          <div class="cards-item">
              <img src="/images/c3.webp" loading="lazy" alt="tajamar">
          </div>
          <div class="cards-item">
              <img src="/images/c4.webp" loading="lazy" alt="jon maddog">
          </div>
          <div class="cards-item">
            <img src="/images/c5.webp" loading="lazy" alt="genius arena 2024">
          </div>
          <div class="cards-item">
            <img src="/images/c6.webp" loading="lazy" alt="birthday">
          </div>
          <div class="cards-item">
            <img src="/images/c7.webp" loading="lazy" alt="genius arena 2024">
          </div>
          <div class="cards-item">
            <img src="/images/c8.webp" loading="lazy" alt="flutter app">
          </div>
          <div class="cards-item">
            <img src="/images/c9.webp" loading="lazy" alt="gatovsky">
          </div>
      </div>
  </article>
  <script src="../scripts/cards.js"></script>
</section>
