---
// @ts-ignore
import { Icon } from "astro-icon/components";
---


<section class="carousel-container mt-24">
  <div class="carousel-title">
    <h3 class="text-center text-4xl md:text-5xl ">I work with this technologies</h2>
  </div>
  <article class="carousel-track flex gap-1 md:gap-5 items-center justify-center mt-10">
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:python" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:docker" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:kubernetes" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:pulumi" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:redhat" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:jenkins" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:amazonaws" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:mysql" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:postgresql" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:git" />
    </div>
    <!-- Duplicate items for seamless looping -->
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:python" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:docker" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:kubernetes" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:pulumi" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:redhat" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:jenkins" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:amazonaws" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:mysql" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:postgresql" />
    </div>
    <div class="carousel-item">
      <Icon class="size-10 md:size-16" name="simple-icons:git" />
    </div>
  </article>
</section>