---
// @ts-ignore
import { Icon } from "astro-icon/components";
import cv from '@cv';
const {stack} = cv;
---

<section class="relative flex flex-col w-full text-center justify-center items-center gap-10 px-4 py-20 sm:py-24  pointer-events-none">
  <h3 class="absolute top-[-20px] h-10 flex items-center px-2 py-1 rounded-full border text-foreground text-2xl sm:text-normal md:text-3xl tracking-tighter bg-card">
    Gatovsky stack
  </h3>
  <div class="w-full h-fit max-w-3xl flex flex-col justify-center select-none overflow-hidden gradient">
    <div class="w-max flex flex-nowrap gap-[4rem] animate-slide-logos">
      {
        stack.map((item) => (
        <Icon class="size-14 object-containt" name={item.name} />
      ))
      }
    </div>
    
  </div>
</section>

<style>
  .gradient {
    mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    webkitmask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      black transparent
    );
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-70% - 2rem));
    }
  }

  .animate-slide-logos {
    display: flex;
    animation: slide 30s linear infinite;
  }
</style>